@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  background-color: #101010;
  font-size: 12px;
  padding: 10px 0;
  text-transform: capitalize;
}

.header-top > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-top > div > div {
  margin-left: 30px;
}

.header-top > div a {
  color: #989898;
}

.header-top > div a:hover {
  color: #ffffff;
}

.header-top > div span {
  color: #009cff;
  font-size: 15px;
  margin-right: 5px;
}

.header-top > div select {
  text-transform: capitalize;
}

.header-bottom {
  background-color: #101010;
  padding: 15px 0 0;
}

.header-bottom ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header-bottom ul.menu > li {
  padding: 15px;
  position: relative;
}

.header-bottom ul.menu > li:hover {
  background-color: #ffffff;
}

.header-bottom ul.menu > li:hover a {
  color: #101010;
}

.header-bottom ul.menu > li:hover > ul {
  display: block;
}

.header-bottom ul.menu > li > ul {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #ffffff;
  top: 54px;
  left: 0;
}

.header-bottom ul.menu > li > ul li.more:hover:after {
  color: #101010;
}

.header-bottom ul.menu > li > ul li.more:after {
  content: "\F0DA";
  color: #d6d6d6;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header-bottom ul.menu > li > ul li {
  color: #101010;
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  min-width: 200px;
}

.header-bottom ul.menu > li > ul li:hover {
  background-color: #d6d6d6;
}

.header-bottom ul.menu > li > ul li:hover ul {
  display: block;
}

.header-bottom ul.menu > li > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.header-bottom ul.menu > li > ul li ul {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #ffffff;
  left: 200px;
  top: 0;
}

.header-bottom ul.menu span {
  color: #878787;
  font-size: 10px;
}

.header-bottom .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-bottom .logo img {
  max-width: 100%;
}

.header-bottom a {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
}

.header-bottom a:hover {
  text-decoration: none;
}

.hero {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-size: cover;
  background-position: -100px 0;
}

.hero .left-card {
  color: #ffffff;
  padding-top: 30px;
}

.hero .left-card h2 {
  font-size: 29px;
  white-space: nowrap;
  margin: 20px 0;
}

.hero .left-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero .left-card ul {
  margin-bottom: 20px;
}

.hero .left-card ul li {
  font-size: 16px;
  padding: 3px 10px 3px 20px;
  position: relative;
}

.hero .left-card ul li:before {
  content: "\F054";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero .left-card button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #666;
  border: none;
}

.hero .left-card button:hover {
  opacity: 0.85;
}

.hero .left-card button p {
  margin: 0;
}

.hero .left-card button .fas {
  font-size: 20px;
  margin-left: 10px;
  border-left: 1px solid #ffffff;
  padding-left: 10px;
  line-height: 34px;
}

.hero .rigth-card {
  background-color: #101010;
  margin-top: 30px;
  padding: 30px 15px 120px 15px;
}

.hero .rigth-card div.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 26px;
}

.hero .rigth-card div.top span {
  position: relative;
}

.hero .rigth-card div.top span:after {
  content: "download";
  display: block;
  position: absolute;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  bottom: -20px;
}

.hero .rigth-card button {
  background-color: #009cff;
  color: #ffffff;
  padding: 5px 30px;
  border: none;
  margin: 20px 0;
}

.hero .rigth-card .special-offers {
  display: block;
  background-color: #ffffff;
  color: #101010;
  padding: 10px;
  cursor: pointer;
}

.hero .rigth-card .special-offers:hover {
  text-decoration: none;
}

.hero .rigth-card .special-offers h4 {
  font-size: 18px;
  margin: 0;
}

.hero .rigth-card .special-offers p {
  font-size: 14px;
  margin: 0;
}

.hero .rigth-card .special-offers a {
  font-size: 14px;
}

nav {
  color: #101010;
  background-color: #e6e6e6;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

nav ul li {
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 24px 13px;
  border-bottom: 3px solid tranparent;
}

nav ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

nav ul li.active {
  font-weight: 500;
  background-color: #ffffff;
  border-bottom: 3px solid #101010;
}

.introduction {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 100px 0 0;
}

.introduction h2 {
  font-size: 36px;
  margin: 20px 0 10px;
}

.introduction p {
  font-size: 18px;
  margin: 20px auto;
  max-width: 75%;
}

.introduction a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  margin: 30px 0 50px;
}

.introduction a:hover {
  text-decoration: none;
}

.introduction a .far {
  color: #989898;
  border: 1px solid #989898;
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
}

.introduction .video-section {
  position: relative;
}

.introduction .video-section:hover {
  cursor: pointer;
}

.introduction .video-section:hover .icon-play {
  border: 2px solid #989898;
  color: #989898;
}

.introduction .frame {
  width: 100%;
  position: relative;
  z-index: 1;
}

.introduction .content {
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

.introduction .icon-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.introduction .icon-play .fa-play {
  font-size: 70px;
}

