$primary_color: #101010;
$secondary_color: #009cff;
$tertiary_color: #ffffff;

// header
$menu_heder_color: #d6d6d6;
$top_header_color: #989898;

// hero
$hero_color_omplementary: #666;

// nav
$nav_color_primary: #e6e6e6;

// intro
$intro_color_secondary: #989898;

// central
$color_text_secondary: #333333;

// software-description
$color_software-description_primary: #222;

// footer
$color_footer_top_primary: #ececec;
$color_footer_top_secondary: #000000;
